#root {
  max-width: 1280px;
  min-width:520px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width:61.8%;
  background-color:#F9B572;
  height:200%;
}

.videoContainer {
  pointer-events:none;
  padding-top:20px;
  padding-bottom:20px;
  height:360px;
}

.footer {
  background-color:lightgray;
  border-top-left-radius:5px;
  position:fixed;
  bottom:0px;
  right:0px;
  padding:5px;
}

.btn-cust {
  background-color:#748E63;
  color:white;
}

.btn-cust:hover {
  background-color:#526944;
  color:white;
}

.form-range::-moz-range-thumb {
  width:1rem;
  height:1rem;
  -moz-appearance:none;
  appearance:none;
  background-color:rgb(116, 142, 99);
  border:0;
  border-radius:1rem;
  -moz-transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}


